$primary: #f47c20;
$secondary: #26272b;
$accent: #9c27b0;
$neutral: whitesmoke;
$dark: #1d1d1d;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$unnessasary: #868686;
$transparency:#00000000;

$text-primary-font-size: 12pt;
$scroll-bar-width: 8px;
$no-results-font-size: 16pt;

$default-panel-background: #585858;

@import "~quasar-variables-styl";
